/*
 * ==============================================================================
 * File Name:     ${1:main.c}
 * Description:   ${2:Briefly describe what this program accomplishes}
 * Author:        Mai Tan Duc <ducmai.network@gmail.com>
 * Created:       $(date +'%Y-%m-%d')
 * Version:       1.0.0
 * License:       MIT
 * ==============================================================================
 */

#include <stdio.h>
#include <stdlib.h>

int main(int argc, char *argv[]) {
    printf("Hello, World!\n");
    return EXIT_SUCCESS;
}
