#!/usr/bin/env python3
# -*- coding: utf-8 -*-

# =============================================================================
#        FILE:  ${1:exercise.py}
#      AUTHOR:  Mai Tan Duc <ducmai.network@gmail.com>
# DESCRIPTION:  ${2:Exercise description}
#   This is my own work as defined by the Academic Integrity policy.
# =============================================================================

import sys
from rich.traceback import install

install(show_locals=True)


def main() -> int:
    return 0


if __name__ == "__main__":
    sys.exit(main())
